In [11]:
# First import python packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string

# graphs are included in the notebook
%matplotlib inline
plt.rcParams['figure.figsize'] = (10, 6)
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('FACTDATA_DEC2020.TXT')
df.head()

/home/basil/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (3,4,6,8,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
0,AA00,11,F,13,NaN,F,340,2,ES,ES-**,R,XXXX,2,50,F,1,202012,1,181500.0,17.5
1,AA00,11,I,15,NaN,H,905,1,ES,ES-**,R,XXXX,2,50,F,1,202012,1,181500.0,27.9
2,AA00,11,E,15,15,E,905,1,99,GS-15,Q,XXXX,2,30,F,1,202012,1,170800.0,11.3
3,AA00,11,D,15,14,D,905,1,99,GS-14,L,XXXX,8,30,F,1,202012,1,129404.0,9.3
4,AA00,11,F,15,13,E,905,1,99,GS-13,K,XXXX,8,30,F,1,202012,1,112930.0,12.2

In [21]:
df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
# I could not find what all the worschedule codes where so I took P and F since I think P is parttime and F is full time
df = df[df["WORKSCH"].isin(['P', 'F'])]
df = df[df["OCC"] != '****']
df = df[df["EDLVL"] != "**"]
df = df[df["SUPERVIS"] != "*"]
# Extracting the interesting data 

cleaned = pd.DataFrame()
cleaned["Schedule"] = df["WORKSCH"].replace(['F', 'P'], [1, 2])
cleaned["Salary"] = df["SALARY"].astype(int)
cleaned["EducationLevel"] = df["EDLVL"].astype(int)
cleaned["Age"] = df["AGELVL"].replace(list(string.ascii_uppercase), list(range(0, 26)))
cleaned["Occupation"] = df["OCC"].astype(int)
cleaned["Location"] =  df["LOC"].replace(df["LOC"].unique(), list(range(0, len(df["LOC"].unique()))))
cleaned["Organisation"] = df["AGYSUB"].replace(df["AGYSUB"].unique(), list(range(0, len(df["AGYSUB"].unique()))))
cleaned["SupervisorStatus"] = df["SUPERVIS"].astype(int)
cleaned["TimeSpent"] = (df["LOS"]*0.1).astype(float)
# add two features can slightly increase accuracy
#used_data["PATCO"] = df["PATCO"]
#used_data["TOA"] = df["TOA"]

cleaned = cleaned[~cleaned.isin([np.nan, np.inf, -np.inf]).any(1)]
print(cleaned)

         Schedule  Salary  EducationLevel  Age  Occupation  Location  \
2               1  170800              15    4         905         0
3               1  129404              15    3         905         0
4               1  112930              15    5         905         0
6               1  133447              15    3         905         0
7               1  121316              15    3         905         0
...           ...     ...             ...  ...         ...       ...
2171381         1  170800              16    6         905         0
2171382         1  161730               4    9         341        26
2171383         1  126810              18    5         905        34
2171385         1  142701               1    3         301         0
2171386         1  121316               1    3         301         0

         Organisation  SupervisorStatus  TimeSpent
2                   0                 2       1.13
3                   0                 8       0.93
4                   0                 8       1.22
6                   0                 8       0.63
7                   0                 8       0.18
...               ...               ...        ...
2171381           492                 8       0.08
2171382           492                 2       1.83
2171383           492                 8       0.36
2171385           492                 2       0.34
2171386           492                 2       0.08

[1276003 rows x 9 columns]